/* PHASE 3: Layout */


.content{
 min-height: 200px;
 display: flex; 
}

.content-sidebar {
 width: 50%;
 min-height: inherit;
 border: 1px solid black;
}

.content-main {
 width: 50%;
 min-height: inherit;
 border: 1px solid black;

}